// display
.sn-display-none {
  display: none;
}
.sn-display-block {
  display: block;
}

//text-align
.sn-text-align {
  text-align: center;
}

//font
.sn-font-white {
  color: #fff;
}
.sn-font-16 {
  font-size: 16px;
}
.sn-font-12 {
  font-size: 12px;
}
